<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>Heart Disease Dashboard</title>

<style>

/* BODY */

body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f5f7fa;

}

/* NAVBAR */

.navbar{

background:#d62828;
color:white;
padding:18px;
font-size:24px;
font-weight:bold;
text-align:center;

}

/* CONTAINER */

.container{

padding:20px;
text-align:center;

}

h2{

color:#333;

}

/* FOOTER */

.footer{

background:#222;
color:white;
text-align:center;
padding:10px;
margin-top:20px;

}

</style>

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

❤️ Heart Disease Analysis Dashboard

</div>


<!-- DASHBOARD -->

<div class="container">

<h2>Interactive Healthcare Analytics Dashboard</h2>


<!-- TABLEAU EMBED START -->

<div class='tableauPlaceholder'
id='viz1771805271798'
style='position: relative'>

<noscript>

<a href='#'>

<img alt='Heart Disease Analysis Dashboard'
src='https://public.tableau.com/static/images/he/heart_disease_17718045244330/Dashboard1/1_rss.png'
style='border:none' />

</a>

</noscript>

<object class='tableauViz'
style='display:none;'>

<param name='host_url'
value='https%3A%2F%2Fpublic.tableau.com%2F' />

<param name='embed_code_version'
value='3' />

<param name='site_root'
value='' />

<param name='name'
value='heart_disease_17718045244330/Dashboard1' />

<param name='tabs'
value='no' />

<param name='toolbar'
value='yes' />

<param name='language'
value='en-US' />

</object>

</div>


<script type='text/javascript'>

var divElement =
document.getElementById('viz1771805271798');

var vizElement =
divElement.getElementsByTagName('object')[0];

vizElement.style.width='1600px';
vizElement.style.height='1400px';

var scriptElement =
document.createElement('script');

scriptElement.src =
'https://public.tableau.com/javascripts/api/viz_v1.js';

vizElement.parentNode.insertBefore(
scriptElement,
vizElement);

</script>

<!-- TABLEAU EMBED END -->

</div>


<!-- FOOTER -->

<div class="footer">

Developed Using Flask + Tableau | Heart Disease Analysis Project

</div>

</body>

</html>